{
  "presets": ["env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "💅": "./src/scss",
          "@": "./src"
        }
      }
    ],
    ["transform-runtime"]
  ]
}
